<a href="https://colab.research.google.com/github/JennEYoon/code/blob/main/current/pandas3_tb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas, quick exercise, Transform

In [10]:
# pandas transpose, quick exercise  
# Jan 20, 2022 12pm - 12:20pm   
# 3:40 - 4:30pm    
# Feb 12, 2022 5pm quick test, DataFrame format. 
# Do some exercises to transpose Series, then see if they can be read in as columns?  
# Series are normally read in as rows, but maybe create numpy row transpose and read in together?  
# Maybe dictionary is the approved method to readin as columns.  
# Read Pandas documentation.  

import numpy as np
import pandas as pd

In [11]:
col1 = np.arange(100, 105, 1)
col2 = pd.Series(['h', 'e', 'l', 'l', 'o'])
#print(col1, col1.shape())  # expect 5,1, no transpose for numpy, reshape works.
#print(col2, col2.shape())  # dimension?  not sure if this will work.  
print(col1)
print(col2)

# df = pd.DataFrame(data=[col1, col2])
# might still not work after each input columns have been transposed.  
# Still does NOT work.  Passes in data = 2 rows, 1 columns.
df = pd.DataFrame(col2)
print(df)
df['B'] = col2
print(df)
df.columns = ['A', 'B']
df

[100 101 102 103 104]
0    h
1    e
2    l
3    l
4    o
dtype: object
   0
0  h
1  e
2  l
3  l
4  o
   0  B
0  h  h
1  e  e
2  l  l
3  l  l
4  o  o

   A  B
0  h  h
1  e  e
2  l  l
3  l  l
4  o  o

In [ ]:
# Dictionary is the only way to pass columns  
dict1 = {'col1': col1, 'col2':col2}
print(dict1)
df2 = pd.DataFrame(data=dict1, columns=['A', 'B'])
print(df2)

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html  
# data has to be a single object somehow, define it first as a dictionary.

{'col1': array([[10],
       [11],
       [12],
       [13],
       [14]]), 'col2': 0    h
1    e
2    l
3    l
4    o
dtype: object}
Empty DataFrame
Columns: [A, B]
Index: []

In [ ]:
# Not what I was expection.  
# Don't transpose yet. Then use dictionary  
A = np.arange(10, 15, 1)
B = ['h', 'e', 'l', 'l', 'o']
print(A, B)
data = {'A': A, 'B': B}
print(data)

df2 = pd.DataFrame(data)
print(df2)
#  WOW!  That actually worked.  
#  I need to breakt it into 2 steps, define data as a dictionary item, 
#  then add data to DataFrame.  Keeps column names from dictionary keys.  

# I guess I could do it in one-step, since I don't need to transpose.  
# Better practice to do it in 2-steps.

[10 11 12 13 14] ['h', 'e', 'l', 'l', 'o']
{'A': array([10, 11, 12, 13, 14]), 'B': ['h', 'e', 'l', 'l', 'o']}
    A  B
0  10  h
1  11  e
2  12  l
3  13  l
4  14  o