<a href="https://colab.research.google.com/github/JennEYoon/code/blob/main/current/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 1 quick exercise  
file location: github "code" repo, "current" folder, pandas1.ipynb  
Date: Jan 13, 2022 3pm start, 4:20pm end    
Previous, Jan 10, 2022 state problem.

In [2]:
# Quick exercise, pandas library  
# Jan 10, 2022 6:40 am  
# Jan 13, 2022 3pm, run on Colab test  

import numpy as np
import pandas as pd  
import random

In [10]:
names = ["helen", "mary", "jane", "tom", "philippe", "craig"]
ids = np.arange(1000, 1006, 1)
print(names, len(names), type(names))
print(ids, len(ids), type(ids))
#ids = list(ids)  # change type, needed?  
# convert to use zip and list, else dataframe directly accepts ndarray type.  
      
# df1 = pd.dataframe(data=[names, ids], cols=("names", "idnum"))
df1 = pd.DataFrame(list(zip(ids, names)), columns=["id", "name"])      
print(df1.head(6))

# works, with 2 typos.  
# Run without converting ids to list type? zip will not work ?
# No, it worked. Zip accepts 2 different type, list and ndarray.

['helen', 'mary', 'jane', 'tom', 'philippe', 'craig'] 6 <class 'list'>
[1000 1001 1002 1003 1004 1005] 6 <class 'numpy.ndarray'>
     id      name
0  1000     helen
1  1001      mary
2  1002      jane
3  1003       tom
4  1004  philippe
5  1005     craig

In [11]:
#Try with data = []
df2 = pd.DataFrame(data=[names, ids])
print(df2.head(6))
# Surprosingly that worked, but was transposed.

       0     1     2     3         4      5
0  helen  mary  jane   tom  philippe  craig
1   1000  1001  1002  1003      1004   1005

In [23]:
# try creating df by using one col, then adding second col.     
ids = np.arange(10, 16, 1)
names = ["apple", "nvedia", "google", "microsoft", "tesla", "netflix"]
df3 = pd.DataFrame(data=names, index=ids, columns=['names'])
print("df3 \n", df3.head())

# define a new df column, auto-append to last column.  
df3['ids'] = ids 
print("\nappend col, df3 \n", df3.head())

df3
         names
10      apple
11     nvedia
12     google
13  microsoft
14      tesla

append col, df3
         names  ids
10      apple   10
11     nvedia   11
12     google   12
13  microsoft   13
14      tesla   14

In [24]:
# Use insertion method, can specify column location, not only at end.  
# ex: df.insert(2, "Age", [21, 23, 24, 21], True)

df3.insert(1, "Price", [10.3, 21.5, 33.0, 15.2, 8.21, 32.6], True)
print("df3 insert\n", df3.head(6))

df3 insert
         names  Price  ids
10      apple  10.30   10
11     nvedia  21.50   11
12     google  33.00   12
13  microsoft  15.20   13
14      tesla   8.21   14
15    netflix  32.60   15

In [35]:
# get price of tesla  ?  
# ex: df.at[4, 'b'], access single value using row-column pair
result = df3.at[14, 'Price']
print(result)

# Select row where name = "tesla", then return price column value 
# ex: df.loc[df['B'] == 3, 'A'].item()
result2 = df3.loc[df3['names'] == 'tesla', 'Price'].item()
print(result2)

# get the price of google  
result3 = df3.at[12, 'Price']
print(result3)
result4 = df3.loc[df3['names'] == 'google', 'Price']
print(result4.item())

8.21
8.21
33.0
33.0

In [ ]:


      
      
      
# print all names 
      
      
# add sex column  
      
      
      
# print all male data rows