### Quick exercise, Pandas   
Should be running "base" env from WSL2 side.  
Repo in C, used Jupyter NB from WSL2 base.  

date: Feb 12, 2022  
author:  Jennifer E Yoon

In [2]:
!python --version

Python 3.9.5

In [4]:
import numpy as np
import pandas as pd

print("np: ", np.__version__)
print("pd: ", pd.__version__)

np:  1.21.2
pd:  1.3.5

#### Some exercises from Vanderplas 2017 book  
Chp 3: Pandas  
Source docs: http://pandas.pydata.org/  
Data Structures, New: Series, DataFrame, Index

In [7]:
# Q: Can values contain string?  Can index be numbers?  

data = ['Virginia', 'Texas', 'Florida', 'California', 'Arizona']
id = [100, 101, 102, 103, 104]
print(type(data), type(id))
print(id[0], type(id[0]))

<class 'list'> <class 'list'>
100 <class 'int'>

In [13]:
ser = pd.Series(data=data, index=id)

In [14]:
ser

100      Virginia
101         Texas
102       Florida
103    California
104       Arizona
dtype: object

In [15]:
data

['Virginia', 'Texas', 'Florida', 'California', 'Arizona']

In [18]:
ser[100]

'Virginia'

In [19]:
ser[100] = "Homeland"
print(ser)
print(data)

100      Homeland
101         Texas
102       Florida
103    California
104       Arizona
dtype: object
['Virginia', 'Texas', 'Florida', 'California', 'Arizona']

In [21]:
# Q: can numpy contain string in values field?  

lst = ['one', 'two', 'three', 'four', 'five']
ar1 = np.array(lst)
ar1

array(['one', 'two', 'three', 'four', 'five'], dtype='<U5')

In [28]:
ser2 = pd.Series(data=ar1, copy=False)
ser2

0      one
1      two
2    three
3     four
4     five
dtype: object

In [29]:
ser2[0] = 'many'
print(ser2)
print(ar1)
print(lst)

0     many
1      two
2    three
3     four
4     five
dtype: object
['one' 'two' 'three' 'four' 'five']
['one', 'two', 'three', 'four', 'five']

In [30]:
# Not sure what copy=False and copy-True works.

In [31]:
ar2 = np.arange(0, 5)
ser3 = pd.Series(ar2, copy=False)
print(ser3, ar2)
ser3[1] = 99 
print(ser3, ar2)

0    0
1    1
2    2
3    3
4    4
dtype: int64 [0 1 2 3 4]
0     0
1    99
2     2
3     3
4     4
dtype: int64 [ 0 99  2  3  4]

In [32]:
# OK, so when the input is numpy and number type, 
# copy=False creates a "view" and original data is also overwritten.